.postsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.post {
  box-sizing: border-box;
  width: 300px;
  height: 330px;
  padding: 15px 25px;
  box-shadow: 2px 2px 5px #c0c0c0;
  margin: 20px;
}

.postTitle {
  height: 100px;
  text-align: center;
}

.post p {
  text-align: justify;
}

@media screen and (max-width: 1200px) {
  .post {
    width: 240px;
    height: 330px;
    padding: 10px 20px;
    margin: 15px;
  }

  .postTitle {
    height: 80px;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .postsContainer {
    flex-direction: column;
    width: 90%;
  }

  .post {
    /* width: 200px;
    height: 500px; */
    width: 100%;
    margin: 20px auto;
  }
}
